In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('GSAF5.xls')

In [3]:
#!pip install pandas openpyxl xlrd

In [4]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#filters the columns from the original source
df.columns = df.columns.str.strip()
SAdf = df[["Year", "Date", "Time", "Type", "Sex", "Age", "Activity", "Location", "Country", "State", "Fatal Y/N"]]
SAdf

,Year,Date,Time,Type,Sex,Age,Activity,Location,Country,State,Fatal Y/N
0,2025.0,14th October,Not stated,Unprovoked,M,14,Swimming with sharks,Catagena Province,Columbia,"Bolivar, del Isolate",N
1,2025.0,11th October,1823 hrs,Unprovoked,M,14,Fishing/swimming,Cook Esplanade Thursday Island,Australia,Queensland,N
2,2025.0,7th October,1330hrs,Unprovoked,M,50+,Surfing,Kangaroo Island,Australia,South Australia,N
3,2025.0,29th September,0100hrs,Unprovoked,M,54,Swimming,Catalina Island,USA,Off California,N
4,2025.0,27th September,Not stated,Provoked,M,48,Diving-Tagging sharks,Cocos Islands,Costa Rica,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...
7045,0.0,Before 1903,NaN,Unprovoked,M,NaN,Diving,Roebuck Bay,AUSTRALIA,Western Australia,Y
7046,0.0,Before 1903,NaN,Unprovoked,M,NaN,Pearl diving,NaN,AUSTRALIA,Western Australia,Y
7047,0.0,1900-1905,NaN,Unprovoked,M,NaN,Swimming,Ocracoke Inlet,USA,North Carolina,Y
7048,0.0,1883-1889,NaN,Unprovoked,M,NaN,NaN,"Panama Bay 8ºN, 79ºW",PANAMA,NaN,Y
7049,0.0,1845-1853,NaN,Unprovoked,M,15,Swimming,"Below the English fort, Trincomalee",CEYLON (SRI LANKA),Eastern Province,Y

In [6]:
#SAdf.Year=SAdf['Year'].map(int)
#SAdf['Year'] = SAdf['Year'].astype(int)
SAdf['Year'] = SAdf['Year'].apply(int)

ValueError: cannot convert float NaN to integer

In [ ]:
#filters the rows of USA and from 2009.
SAdf = SAdf[ (SAdf['Country'] == 'USA') & (SAdf['Year'] > 2009) ]
SAdf

In [ ]:
SAdf.value_counts("Country""Activity", "Sex", "Age", "Injury", "Fatal Y/N", "Source", "original order")

In [ ]:
SAdf.value_counts("original order")

In [ ]:
SAdf.describe(include="all")

In [ ]:
SAdf.shape

In [ ]:
SAdf.info()

In [ ]:
SAdf.nunique()

In [ ]:
SAdf.dtypes

In [ ]:
SAdf.select_dtypes(include=['int','float'])

In [ ]:
SAdf.value_counts("Country")

In [ ]:
SAdf

In [ ]:
SAdf = df[["Year", "Date", "Time", "Type", "Sex", "Age", "Activity", "Location", "Country", "State", "Fatal Y/N"]]
SAdf

In [ ]:
SAdf.value_counts("Activity")

In [ ]:
SAdf.value_counts("Year")

In [ ]:
pd.set_option('display.max_rows', None)
SAdf.value_counts("Year")

In [ ]:
pd.set_option('display.max_rows', None)
SAdf.value_counts("Year")