In [47]:
def initiate_sharknado():
    import pandas as pd
    import numpy as np
    import re
    from datetime import time

    SAdf=pd.read_csv('SAdf.csv')
    return SAdf

SAdf = initiate_sharknado()

In [60]:
import pandas as pd
import pandas as pd
import numpy as np
import re

**1. Reformat the information about the gender information in the database, as there are son extra spaces and wrong inputs.**

In [61]:
SAdf.Sex.unique()

array(['M', 'F', 'UNKNOWN'], dtype=object)

In [62]:
SAdf['Sex']=SAdf.Sex.fillna('UNKNOWN')

In [63]:
SAdf.Sex.isna().sum()

np.int64(0)

In [64]:
SAdf['Sex'] = (SAdf['Sex'].astype(str).str.strip().str.upper())

In [65]:
SAdf.Sex.unique()

array(['M', 'F', 'UNKNOWN'], dtype=object)

In [66]:
SAdf.Sex.value_counts()

Sex
M          599
F          203
UNKNOWN     18
Name: count, dtype: int64

**2. Clean the null values in the Age column, format the data {Invalid symbols, Pure numbers, Age ranges like 30s, 40s, etc., Teen, Middle age, Minor, Extract all digits(handles cases like ‘!2’, ‘!6’, ‘45 and 15’, etc.)}, and then convert the Age type to integer.**

In [67]:
SAdf.Age.nunique()

85

In [68]:
SAdf.Age.unique()

array(['54', '8', '?', '69', '18', '21', '40', '20', '12', '9', '42',
       '26', '23', '27', '16', '14', 'Middle age', '49', '25', '15', '45',
       '46', '19', '65', nan, '11', '39', '66', '30', '50', '52', '38',
       '30s', '37', '22', '60', '47', '!2', '35', '24', '13', '50s', '58',
       '67', '34', '68', '43', '10', '29', '51', '31', '33', '41', '17',
       '28', '62', 'teen', '56', 'Teen', '!6', '64', '!!', '36', '7',
       '71', '57', '45 and 15', '73', '61', '48', '70', '55', '63', '32',
       '22, 57, 31', '60s', '74', 'a minor', '20s', '3', '59', '6', '44',
       '53', '5', '86'], dtype=object)

In [69]:
SAdf.Age.isna().sum()

np.int64(178)

In [70]:
def clean_age(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip().lower()
    if x in ['?','!!']:
        return np.nan
    if x.isdigit():
        return int(x)
    if re.match(r'^\d{2}s$', x):
        return int(x[:2])
    if 'teen' in x:
        return 15
    if 'middle' in x:
        return 45
    if 'minor' in x:
        return 10
        
    nums = re.findall(r'\d+', x)
    if len(nums) >= 1:
        return int(nums[0])

    return np.nan

In [71]:
SAdf['Age'] = SAdf['Age'].apply(clean_age).astype('Int64')

In [72]:
SAdf['Age'].unique()

<IntegerArray>
[  54,    8, <NA>,   69,   18,   21,   40,   20,   12,    9,   42,   26,   23,
   27,   16,   14,   45,   49,   25,   15,   46,   19,   65,   11,   39,   66,
   30,   50,   52,   38,   37,   22,   60,   47,    2,   35,   24,   13,   58,
   67,   34,   68,   43,   10,   29,   51,   31,   33,   41,   17,   28,   62,
   56,    6,   64,   36,    7,   71,   57,   73,   61,   48,   70,   55,   63,
   32,   74,    3,   59,   44,   53,    5,   86]
Length: 73, dtype: Int64

In [73]:
SAdf['Age'].dtype

Int64Dtype()

**3.Map the original activities (Swimming, Body surfing, Surfing, Fishing, Playing… etc.) into a standardized set of activity categories：**

- **Surfing, kite-surfing, surf fishing - > Surfing**
- **Swimming, swimming/treading water - > Swimming**
- **Fishing, spear-fishing, kayak fishing - > Fishing**
- **Diving, scuba diving, free diving - > Diving**
- **Standing, walking, wadin - > Wading/Standing**
- **Undisclosed, Not stated, NaN  - > Unknown**

In [74]:
SAdf['Activity'].nunique()

112

In [75]:
SAdf['Activity'].unique()

array(['Swimming', 'Snorkeling', 'Fishing', 'Diving', 'Surfing',
       'Undisclosed', 'Diving into Water', 'Wading',
       'Playing football in the water',
       'Unconfirmed Possibly swimming near the boat harbour',
       'Swimming ocean training ', 'Spearfishing', 'Kayak fishing',
       'Boogie boarding', 'Sitting', 'Standing', 'Filming',
       'Shark Feeding', 'Windsurfing', 'Kite-Surfing', 'Spearishing',
       'Shipwreck', 'Swimming  or Snorkeling', 'Paddleboarding',
       'Lobstering', nan, 'Lifeguard Training Exercise',
       'Lifeguard Exercises', 'Scalloping', 'Jumped into water',
       'Feeding sharks & stingrays', 'Kayaking', 'Wing Foil Surfing',
       'Boogie Boarding', 'Fishing, fell in water', 'Playing', 'Canoeing',
       'Kite Foiling', 'Boggie boarding', 'Tagging sharks',
       'Body surfing', 'Body Surfing', 'Surf fishing', 'Treading water',
       'Skimboarding', 'Body Boarding', 'Stand-Up Paddleboarding',
       'Stand-Up Paddle boarding', 'Swimming/ Treading water',
       'Spearfishing / Diving', 'Fishing ', 'Body-surfing',
       'Swimming with sharks', 'Picking opihi',
       'Paddling an outrigger canoe', 'Diving / Filming',
       'Swimming/Standing', 'Paddling', 'Walking', 'Body boarding',
       'Surfing ', 'SUP', 'Touching a shark', 'Feeding sharks',
       'Photo shoot', 'Paddle boarding', 'Not stated', 'Floating',
       'Surfng', 'SUP Foil boarding', 'Kite surfing', 'Floating in tube',
       'Teasing a shark', 'Photographing fish', 'Kayak Fishing',
       'Playing in the water', 'Body surfing?',
       'Attempting to rescue a shark', 'Photographing the shark',
       'Standing / Snorkeling', 'Shark fishing',
       'Swimming after falling overboard', 'Standing in inner tube',
       'Body surfing or Boogie boarding', 'Kayaking ',
       'Fishing for sharks', 'Kite boarding', 'Kneeling in the water',
       'Kite Surfing', 'Free diving / Photographing pilot whales',
       'Kayaking / Fishing', 'Kiteboarding', 'Diving ', 'Casting a net',
       'Marathon swimming', 'Walking in surf', 'Swimming ',
       'Playing in the surf', 'Swimming or boogie boarding',
       'Wading or swimming', 'Free diving ', 'Sitting in the water',
       'Wade fishing', 'Jumping in the waves', 'Wade Fishing',
       'Floating ', 'Jet skiing', 'Scuba diving',
       'Standing or boogie boardin', 'Standing, holding shark pup',
       'Measuring sharks', 'Surf fishing / wading', 'Kite Boarding'],
      dtype=object)

In [76]:
SAdf['Activity_clean'] = SAdf['Activity'].str.lower().str.strip()

In [77]:
activity_map = {
    'surf': 'Surfing',
    'kite': 'Surfing',
    'body surf': 'Surfing',

    'swim': 'Swimming',
    'treading water': 'Swimming',

    'diving': 'Diving',
    'scuba': 'Diving',
    'snorkel': 'Diving',

    'fish': 'Fishing',
    'spear': 'Fishing',
    'lobster': 'Fishing',

    'paddle': 'Paddleboarding',
    'canoe': 'Paddleboarding',
    'kayak': 'Paddleboarding',

    'wading': 'Wading/Standing',
    'standing': 'Wading/Standing',
    'walking': 'Wading/Standing',

    'touching a shark': 'Animal Interaction',
    'feeding': 'Animal Interaction',

    'photo': 'Photography',
    'filming': 'Photography',

    'unknown': 'Unknown',
    'not stated': 'Unknown',
    'undisclosed': 'Unknown'
}

In [78]:
def map_activity(x):
    if pd.isna(x):
        return 'Unknown'
    x = str(x).lower()

    for key, value in activity_map.items():
        if key in x:
            return value
    return 'Other'

In [79]:
SAdf['Activity_grouped'] = SAdf['Activity'].apply(map_activity)

In [80]:
SAdf['Activity_grouped'].value_counts()

Activity_grouped
Surfing               295
Swimming              149
Fishing                96
Other                  75
Wading/Standing        73
Unknown                48
Diving                 42
Paddleboarding         35
Animal Interaction      4
Photography             3
Name: count, dtype: int64

In [84]:
import re

def clean_text(s):
    if isinstance(s, str):
        s = re.sub(r'[^\x00-\x7F]+', '', s)   
    return s

SAdf = SAdf.apply(lambda col: col.map(clean_text))